@page
@model CreateShipsModel
@{
    ViewData["Title"] = "Create game";
}

<div class="text-center">
    <h1 class="display-4 mb-5">@Model.MainTitle</h1>

    <div class="card custom-card mw-md mx-auto mb-4">
        <div class="card-header slim-card-edge"></div>
        <div class="card-body text-center">

            @if (Model.IsAllPlayerPlacedAll) {
                <div class="custom-text-green mb-4">All players have placed their ships!</div>
                
                <div class="row">
                    <div class="col-6 text-center">
                        <a href="?player=0&askAutoPlace" class="btn btn-outline-secondary">Redo</a>
                    </div>
                    <div class="col-6 text-center">
                        <a href="StartGame" class="btn btn-outline-success">Start game</a>
                    </div>
                </div>
                
            } else if (Model.IsCurrentPlayerPlacedAll) {
                <div class="custom-text-green mb-4">All ships placed successfully!</div>

                <div class="row">
                    <div class="col-6 text-center">
                        <a href="?player=@Model.PlayerId&askAutoPlace" class="btn btn-outline-secondary">Redo</a>
                    </div>
                    <div class="col-6 text-center">
                        <a href="?player=@Model.NextPlayerId&askAutoPlace" class="btn btn-outline-success">Next player</a>
                    </div>
                </div>
                
            } else if (Model.IsAutoplaceQuestion) {
                <div class="row">
                    <div class="col-6 text-center">
                        <a href="?player=@Model.PlayerId&placement=auto" class="btn btn-outline-success">Auto place</a>
                    </div>
                    <div class="col-6 text-center">
                        <a href="?player=@Model.PlayerId&placement=manual&ship=0" class="btn btn-outline-secondary">Manually place</a>
                    </div>
                </div>
            } else if (Model.IsStatus || Model.IsError) {
                <div class="justify-content-center">
                    @if (Model.IsError) {
                        <div class="custom-text-red mb-2">@Model.StatusMsg</div>
                        <a href="@Model.BackBtnHref" class="btn btn-outline-danger">I'm sorry</a>
                    } else {
                        <div class="custom-text-green mb-2">@Model.StatusMsg</div>
                        <a href="@Model.BackBtnHref" class="btn btn-outline-success">Ok</a>
                    }

                </div>
            } else {
                <div class="row">
                    <div class="col-md">
                        <div class="mb-2">Place a @Model.Ship?.Type</div>
                        <div class="board-row d-flex justify-content-center mb-2">
                            @for (int i = 0; i < Model.Ship?.Size; i++) {
                                <div class="board-box board-box-sm custom-badge-green">
                                    <div class="board-inner">@(i + 1)</div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-md text-center">
                        <form class="form-inline" method="POST">
                            <div class="form-row">
                                <div class="col-6 mb-2">
                                    <input class="form-control min-input" name="x" type="text" placeholder="X">
                                </div>
                                <div class="col-6 mb-2">
                                    <input class="form-control min-input" name="y" type="text" placeholder="Y">
                                </div>
                                <div class="col-6 mb-2">
                                    <select class="form-control w-100" name="direction">
                                        <option>right</option>
                                        <option>down</option>
                                    </select>
                                </div>
                                <div class="col-6">
                                    <button type="submit" class="btn btn-block btn-outline-success">Place</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            }
        </div>
        <div class="card-footer slim-card-edge"></div>
    </div>

    @if (Model.IsDisplayBoard) {
        <partial name="_Board"/>
    }
</div>