@page
@using Domain.DomainRule
@model RulesModel
@{
    ViewData["Title"] = "Rules";
}

<div class="text-center">
    <h1 class="display-4 mb-5">@Model.MainTitle</h1>

    <div class="card custom-card mw-md mx-auto mb-4">
        <div class="card-header slim-card-edge"></div>
        <div class="card-body justify-content-center">

            @if (Model.IsStatus) {
                <div class="custom-text-green mb-2">@Model.StatusMsg</div>
                <a href="Rules" class="btn btn-outline-success mx-1">Ok</a>
            } else {
                <div class="data-table">
                    <form method="POST">
                        <table class="table table-sm mb-3">
                            <thead>
                            <tr>
                                <th scope="col">Rule</th>
                                <th scope="col">Value</th>
                                <th scope="col">Min val</th>
                                <th scope="col">Max val</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var rule in Rules.RuleSet) {
                                <tr>
                                    <td>@rule.RuleType</td>
                                    <td>
                                        <input class="form-control form-control-sm" type="text" name="@((int) rule.RuleType)" placeholder="@rule.Value">
                                    </td>
                                    <td>@rule.MinVal</td>
                                    <td>@rule.MaxVal</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                        <div class="justify-content-center">
                            <button type="submit" class="btn mx-1 btn-outline-success">Save</button>
                            <a href="?reset" class="btn mx-1 btn-outline-warning">Reset all</a>
                            <a href="@Model.BackBtnHref" class="btn mx-1 btn-outline-secondary">Go back</a>
                        </div>
                    </form>
                </div>
            }
        </div>
        <div class="card-footer slim-card-edge"></div>
    </div>
</div>